<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="/stylesheets/aboutbeans.css"/>
  <title>About Beans</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/roast">Roast</a>
        <a href="#">Learn More</a>
      </nav>
  <header>
    
    <h2>Where you BEAN all my life?</h2>
    <p>Did you know that the beans you choose for your coffee shop are a vital part to the taste of your coffee.</p>
    <p>With our wide varity of beans, we are certain we have the right bean for you.</p>
    <button> <a href="/roast">SHOP NOW</a></button>
  </header>
</body>
</html>