<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
  <link rel="stylesheet" href="/stylesheets/roast.css"/>
  <script type="text/javascript" src="/roast.js"></script>
  <title>Roast</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/aboutbeans">About Beans</a>
        <a href="#">Learn More</a>
      </nav>
  <header>
    <div class="container1">
    <p>We do the Toasting.<br> You do the Serving.</p>
    </div>
  </header>

  <div id="mid-body" class= "flex-container">
      <span><em>Decaf</em><br> <em><br> Roast</em></span>
      <span><em>Light</em><br> <em><br> Roast</em></span>
      <span><em>Medium</em><br> <em><br> Roast</em></span>  
      <span><em>Dark</em><br> <em><br> Roast</em></span>
  </div>

  <div class="bottom">
    <h2> Shop Coffee </h2>
    
    <div class="whole-product">
        <div>
          <span class="productName">Decaf-Roast 20lbs</span>
        </div>
        <div>
          <span class="productCost">$25.00</span>
        </div>
        <div>
          <label for="QTY">QTY </label>
          <input type="number" class="quantity">
        </div>
        <div>
          <span class="totalPrice">$0.00</span>
        </div>
        <div>
            <button class=" delete btn btn-delete">Delete</button>
          </div>
      </div>

      <div class="whole-product">
          <div>
            <span class="productName">Light-Roast 20lbs</span>
          </div>
          <div>
            <span class="productCost">$25.00</span>
          </div>
          <div>
            <label for="QTY">QTY </label>
            <input type="number" class="quantity">
          </div>
          <div>
            <span class="totalPrice">$0.00</span>
          </div>
          <div>
              <button class=" delete btn btn-delete">Delete</button>
            </div>
        </div>

        <div class="whole-product">
            <div>
              <span class="productName">Med-Roast 20lbs</span>
            </div>
            <div>
              <span class="productCost">$25.00</span>
            </div>
            <div>
              <label for="QTY">QTY </label>
              <input type="number" class="quantity">
            </div>
            <div>
              <span class="totalPrice">$0.00</span>
            </div>
            <div>
                <button class=" delete btn btn-delete">Delete</button>
              </div>
          </div>

          <div class="whole-product">
              <div>
                <span class="productName">Dark-Roast 20lbs</span>
              </div>
              <div>
                <span class="productCost">$25.00</span>
              </div>
              <div>
                <label for="QTY">QTY </label>
                <input type="number" class="quantity">
              </div>
              <div>
                <span class="totalPrice">$0.00</span>
              </div>
              <div>
                  <button class=" delete btn btn-delete">Delete</button>
                </div>
            </div>

            <div class="calculate">
                <button class="btn btn-success" id="calc-prices-button">Calculate Prices</button>
              </div>
        
          
            <div class="price"><h3>Total Price: $ <span id="totalDiv">0.00</span></h3></div>

    
  </div>
</body>
</html>